:root {
  --titlebar-size: 26px;
}

body {
  margin: 0px;
  font-family: sans-serif;
  font-size: 1.5em;
  visibility: hidden;
}

img {
  user-select: none;
}

.visible {
  visibility: visible;
}

#titlebar {
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-app-region: drag;
  height: var(--titlebar-size);
  max-height: var(--titlebar-size);
  width: 100%;
  min-width: 100%;
  position: fixed;
  background-color: #ddd;
  border-bottom: 1px solid #bbb;
}

#content {
  margin-top: calc(var(--titlebar-size) + 1px);
  margin-left: 3px;
  margin-right: 3px;
  height: calc(100% - var(--titlebar-size));
  min-height: calc(100% - var(--titlebar-size));
  width: calc(100% - 6px);
  max-width: calc(100% - 6px);
  min-width: calc(100% - 6px);
}

.no-titlebar {
  margin-top: 0px !important;
}

#minimize-button,
#maximize-button,
#close-button {
  display: flex;
  width: var(--titlebar-size);
  height: var(--titlebar-size);
  margin-top: 0px;
  opacity: 100%;
  transition: 0.2s;
}

#minimize-button,
#maximize-button,
#close-button {
  margin-top: calc(var(--titlebar-size) * -1);
}

#minimize-button:hover,
#maximize-button:hover,
#close-button:hover {
  fill: #F00;
}

#minimize-button-container,
#maximize-button-container,
#close-button-container {
  float: right;
  margin-right: 2px;
  -webkit-app-region: no-drag;
}

#minimize-button-container,
#maximize-button-container {
  margin-right: 0px;
}

#title-container {
  float: left;
  width: 300px;
  max-width: 300px;
  height: var(--titlebar-size);
  text-align: center;
  font-size: calc(var(--titlebar-size) * 0.8);
  margin-left: calc(50% - 150px - 25px);
  user-select: none;
  margin-top: 2px;
}

#icon {
  display: flex;
  width: var(--titlebar-size);
  height: var(--titlebar-size);
  margin-top: 0px;
  transition: 0.3s;
  user-select: none;
}

#icon-container {
  float: left;
  margin-left: 5px;
  -webkit-app-region: no-drag;
}